<nav>
    <div class="contained">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mongo Scraper</a>
        </div>
        <ul class="navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="btn">SCRAPE NEW ARTICLES!</a></li>
        </ul>
    </div>
</nav>
<h1>Mongo Scraper</h1>
<p>New York Times Edition</p>
<div class="article-container"></div>
<footer class="footer">
    <p>New York Times Mongo Scraper</p>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="../public/assets/javascript/index.js"